## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*__MACOSX
nb-configuration.xml

#JAVA
*.class

#Gradle
.gradle/
.nb-gradle/

#Maven target dir...
target/

#WebApp
build/
bin/
classes/
*.war
nbproject/private/
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/*
nbproject

#misc
dist/
*.idea
*.iml
*.eml
.project
.settings
.classpath

/.nb-gradle/private/
